@model TelecomDataBase.Models.ViewModel.UserViewModel
@{
    Layout = null;
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logare</title>
    <style>
        #login-div {
            position:absolute;
            left:40%;
            top:40%;
            border: 3px solid #ccc;
            padding:10px 10px;
             

            
        }
        .field-validation-error {
        color:red;
        }
       
        }
        </style>
    

</head>
<body >
    <div> 
        <div id="login-div" >
            @using (Html.BeginForm("Autherize", "Login",FormMethod.Post))
            {
                <table>
                    <tr>
                        <td></td>
                        <td style="text-decoration:underline"><dt>Evidenta Clienti Login</dt></td>
                        </tr>
                    <tr>
                        <td class="fa fa-user"> 
                          
                                 @Html.LabelFor(model=> model.UserName)
                         
                            </td>
                        <td>
                                 @Html.EditorFor(model => model.UserName)
                            
                            </td>
                        </tr>
                    <tr>
                        <td></td>
                        <td >@Html.ValidationMessageFor(model => model.UserName)</td>
                        </tr>

                    <tr>
                        <td class="fa fa-key" >@Html.LabelFor(model => model.Password)</td>
                        <td>@Html.EditorFor(model => model.Password)</td>

                        </tr>
                    
                    <tr>
                        <td></td>
                        <td>@Html.ValidationMessageFor(model => model.Password)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td >

                            <input class="btn btn-default" type="submit" name="name" value="Login"/>
                            <input  class="btn btn-default" type="reset" name="name" value="Clear"/>
                           
                            </td>
                        </tr>

                    </table>
            }
   </div>
        

        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <link href="~/Content/back.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
</html>
