<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Evidenta Clienti</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="nav navbar-nav navbar-right">
          

                <a> <span class="glyphicon glyphicon-user"></span>  @Session["userName"].ToString() </a>
                <a href="@Url.Action("LogOut","Login")"><span class="glyphicon glyphicon-log-in">LogOut </span> </a>
               

        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Evidenta Clienti", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Clienti <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    @if (Convert.ToBoolean(Session["IsAdmin"].ToString()) == true)
                    {

                        <li>
                            @Html.ActionLink("Vizualizare Clienti", "Index", "Client")
                        </li>
                        <li>
                            @Html.ActionLink("Creare Client", "Create", "Client")
                        </li>
                    }
                    else
                    {

                        <li>
                            @Html.ActionLink("Vizualizare Clienti", "Index", "Client")
                        </li>
                    }
                    </ul>
                </li>
                </ul>
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Produs <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        @if (Convert.ToBoolean(Session["IsAdmin"].ToString()) == true)
                        {

                            <li>
                                @Html.ActionLink("Vizualizare Produs", "Index", "Produs")
                            </li>
                            <li>
                                @Html.ActionLink("Creare Produs", "Create", "Produs")
                            </li>
                        }
                        else
                        {

                            <li>
                                @Html.ActionLink("Vizualizare Produs", "Index", "Produs")
                            </li>
                        }

                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Comanda <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        @if (Convert.ToBoolean(Session["IsAdmin"].ToString()) == true)
                        {

                            <li>
                                @Html.ActionLink("Vizualizare Comanda", "Index", "Comanda")
                            </li>

                            <li>
                                @Html.ActionLink("Creare Comanda", "Create", "Comanda")
                            </li>
                        }
                        else
                        {

                            <li>
                                @Html.ActionLink("Vizualizare Comanda", "Index", "Comanda")
                            </li>
                        }

                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Utilizatori <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        @if (Convert.ToBoolean(Session["IsAdmin"].ToString()) == true)
                        {

                            <li>
                                @Html.ActionLink("Vizualizare Utilizator", "Index", "UsersAdmin")
                            </li>

                            <li>
                                @Html.ActionLink("Creare Utilizator", "Create", "UsersAdmin")
                            </li>
                        }
                        else
                        {

                            <li>
                                @Html.ActionLink("Vizualizare Utilizator", "Index", "UsersAdmin")
                            </li>
                        }

                    </ul>
                </li>
            </ul>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                </div>
</div>
    </div>
    

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p> @DateTime.Now.Year - Evidenta Clienti. &copy;Toate drepturile rezervate.</p>
            </footer>
        </div>
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>