﻿@model TelecomDataBase.Models.Comanda

@{
    ViewBag.Title = "Delete";
}

<div class="mdl-color--white mdl-shadow--4dp mdl-color-text--grey-800 mdl-cell mdl-cell--10-col">
<h2>Delete</h2>

<h3>Esti sigur ca vrei sa stergi comanda data?</h3>
<div>
    <h4>Comanda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantitate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantitate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Nume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Nume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produ.Nume_Produs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produ.Nume_Produs)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

		<div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-offset mdl-cell--10-col">
				<input type="button" value="Cancel" onclick="location.href = '/';" class="mdl-button mdl-js-button mdl-button--raised"/>
                <input type="submit" value="Delete" class="mdl-button mdl-js-button mdl-button--raised" />
            </div>
        </div>
    }
</div>
</div>
